GENE315-CNV_lab-week1.R
GENE315-CNV_lab-week2.R
scaling_note.txt
GENE315-Files.zip
GENE315-lecture9.md
figure
GENE315-lecture9.Rmd
GENE315-lecture9.html
GENE315-lecture9.md
GENE315-CNV_lab-week1_files
PNG/asciitable.png
PNG/fastq1.png
PNG/fastq2.png
PNG/igv2.png
PNG/ngs1.png
PNG/ngs2.png
PNG/ngs3.png
PNG/phred.png
PNG/phred2.png
PNG/phredtrace.png
PNG/samdata.png
PNG/samformat.png
PNG/samtools.png
PNG/trapnell.png
libraries
.Rhistory

.Rproj.user
